@font-face 
    font-family: "Lato"
    src: url("../icon/Lato.ttf")
@font-face 
    font-family: "Linotte"
    src: url("../icon/Linotte.otf")

@import url("../icon/icon.css")


// funcoes auxiliar
@mixin flex($align: center, $justify: space-between, $direction: row)
    display: flex
    align-items: $align
    justify-content: $justify
    flex-direction: $direction

@mixin largura($width: 100%, $padding: 2.5rem)
    width: $width
    padding: $padding

*::-webkit-scrollbar 
    width: 0px;
*::-moz-scrollbar 
    width: 0px;
*::scrollbar 
    width: 0px;

// estado padrao para todo elemento
* 
    margin: 0px
    padding: 0px
    list-style: none
    font-family: Lato
    line-height: 29px
    font-style: normal
    text-decoration: none
    letter-spacing: .1rem
    box-sizing: border-box

.menu
    @include flex
    @include largura

    ._
        h2
            float: left
            font-size: 1.5rem
            padding: 0 4rem 0 0
            text-transform: lowercase

        ul
            float: left
            li
                margin: 0 1.5rem 0 0
                display: inline-block
                vertical-align: middle

                a
                    color: #333
                    font-weight: 700
                span
                    position: relative
                    font-family: Linotte

                &:last-child::before
                    right: 15px
                    content: ""
                    padding: 3px
                    position: relative
                    border-radius: 5px
                    background: #ff043a
                    display: inline-block

    .__
        ul
            float: left
            li
                margin: 0 0 0 1.5rem
                display: inline-block

                i
                    cursor: pointer
                    font-size: 1.5rem
                    position: relative

                    span
                        top: 17.9px
                        right: 0px
                        float: left
                        color: #fff
                        font-size: 7.2px
                        font-weight: 900
                        line-height: 13px
                        padding: 1.5px 2px
                        position: absolute
                        border-radius: 50%
                        font-family: Linotte
                        background: #ff043a
        div.usuario
            float: right
            overflow: hidden
            position: relative
            margin: 0 0 0 1.5rem
            
            img
                outline: none
                padding: .1rem
                max-width: 40px
                max-height: 40px
                object-fit: cover
                background: #ddd
                border-radius: 50%
                vertical-align: baseline
                border: 2px solid #ff043a
            
            .toggle
                top: 5px
                left: 2px
                width: 35px
                float: left
                height: 30px
                cursor: pointer
                position: absolute 
                @include flex(center, center)
                display: none

                i
                    width: 95%
                    padding: 2px
                    display: block
                    position: relative
                    border-radius: 8px
                    background: #ff043a

                    &::before, &::after
                        width: 50%
                        content: ""
                        padding: 2px
                        display: block
                        position: absolute
                        border-radius: 8px
                        justify-content: center
                        background: #ff043a
                    &::before
                        top: -7px
                        right: 6.5px
                    &::after
                        top: 7px
                        left: 6.5px

                    


