@import url("../icon/icon.css");
@font-face {
  font-family: "Lato";
  src: url("../icon/Lato.ttf");
}

@font-face {
  font-family: "Linotte";
  src: url("../icon/Linotte.otf");
}

*::-webkit-scrollbar {
  width: 0px;
}

*::-moz-scrollbar {
  width: 0px;
}

*::scrollbar {
  width: 0px;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: Lato;
  font-style: normal;
  text-decoration: none;
  letter-spacing: .1rem;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 2.5rem;
}

.menu ._ h2 {
  float: left;
  font-size: 1.5rem;
  padding: 0 4rem 0 0;
  text-transform: lowercase;
}

.menu ._ ul {
  float: left;
}

@media (max-width: 765px) {
  .menu ._ ul {
    display: none;
  }
}

.menu ._ ul.attr {
  top: 0px;
  left: 0px;
  z-index: 8;
  width: 50%;
  display: none;
  height: 100vh;
  padding: 2rem;
  position: fixed;
  background: #ddd;
}

@media (max-width: 765px) {
  .menu ._ ul.attr {
    display: block;
  }
}

.menu ._ ul.attr li {
  clear: both;
  display: block;
  margin: 10px 0 15px;
}

.menu ._ ul li {
  margin: 0 1.5rem 0 0;
  display: inline-block;
  vertical-align: middle;
}

.menu ._ ul li a {
  color: #333;
  font-weight: 700;
}

.menu ._ ul li span {
  position: relative;
  font-family: Linotte;
}

.menu ._ ul li:last-child::before {
  right: 15px;
  content: "";
  padding: 3px;
  position: relative;
  border-radius: 5px;
  background: #ff043a;
  display: inline-block;
}

.menu .__ {
  display: flex;
}

.menu .__ ul {
  float: left;
}

.menu .__ ul li {
  margin: 0 0 0 1.5rem;
  display: inline-block;
}

.menu .__ ul li i {
  cursor: pointer;
  font-size: 1.5rem;
  position: relative;
}

.menu .__ ul li i span {
  top: 17.9px;
  right: 0px;
  float: left;
  color: #fff;
  font-size: 7.2px;
  font-weight: 900;
  line-height: 13px;
  padding: 1.5px 2px;
  position: absolute;
  border-radius: 50%;
  font-family: Linotte;
  background: #ff043a;
}

.menu .__ div.usuario {
  float: right;
  overflow: hidden;
  position: relative;
  margin: 0 0 0 1.5rem;
}

.menu .__ div.usuario img {
  outline: none;
  padding: .1rem;
  max-width: 40px;
  max-height: 40px;
  object-fit: cover;
  background: #ddd;
  border-radius: 50%;
  vertical-align: baseline;
  border: 2px solid #ff043a;
}

@media (max-width: 765px) {
  .menu .__ div.usuario img {
    display: none;
  }
}

.menu .__ div.usuario .toggle {
  top: 0px;
  left: 2px;
  width: 35px;
  float: left;
  height: 30px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: none;
}

@media (max-width: 765px) {
  .menu .__ div.usuario .toggle {
    display: flex;
  }
}

.menu .__ div.usuario .toggle i {
  width: 95%;
  padding: 2px;
  display: block;
  position: relative;
  border-radius: 8px;
  background: #ff043a;
}

.menu .__ div.usuario .toggle i::before, .menu .__ div.usuario .toggle i::after {
  width: 50%;
  content: "";
  padding: 2px;
  display: block;
  position: absolute;
  border-radius: 8px;
  justify-content: center;
  background: #ff043a;
}

.menu .__ div.usuario .toggle i::before {
  top: -7px;
  right: 6.5px;
}

.menu .__ div.usuario .toggle i::after {
  top: 7px;
  left: 6.5px;
}

.catalogo {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 100%;
  padding: 2.5rem;
}

@media (max-width: 765px) {
  .catalogo {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 765px) {
  .catalogo ._ {
    text-align: center;
    padding-bottom: 2.5rem;
  }
}

.catalogo ._ .localizacao {
  display: block;
  padding: 0 0 5px;
}

.catalogo ._ .localizacao i {
  top: -2px;
  z-index: 2;
  display: inline;
  color: #ff043a;
  font-size: 1.3rem;
  position: relative;
}

.catalogo ._ .localizacao span strong {
  font-family: Linotte;
}

.catalogo ._ h1 {
  font-size: 3rem;
  font-family: Linotte;
}

@media (max-width: 765px) {
  .catalogo ._ h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}

.catalogo ._ p {
  line-height: 25px;
  font-size: 1.2rem;
}

.catalogo ._ p span {
  padding: 5px 0;
  display: block;
}

@media (max-width: 765px) {
  .catalogo ._ p span {
    padding: 10px 0;
  }
}

.catalogo ._ p span a {
  margin: 0 10px 0 0;
  font-family: Linotte;
}

.catalogo ._ p span a i {
  color: #ff043a;
  font-size: 1.2rem;
  transform: scale(1);
  transition: color .3s;
}

.catalogo ._ p span a:hover i {
  color: #333;
  transition: color .3s;
}

.catalogo .__ {
  float: left;
  height: 400px;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

@media (max-width: 765px) {
  .catalogo .__ {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.catalogo .__ .produtos {
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 50%;
  position: relative;
  justify-items: center;
  justify-content: center;
  border: 2px dashed #ff0430;
  border-spacing: 40px;
}

.catalogo .__ .produtos ul {
  left: 9.5rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-items: center;
  justify-content: flex-start;
}

.catalogo .__ .produtos ul li {
  width: 90px;
  height: 90px;
  padding: .5rem;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  background: #ddd;
  border-radius: 50%;
  transform: rotate(calc(var(--x) * (360deg/6))) translateY(200px);
}

.catalogo .__ .produtos ul li.point {
  border: 2px solid #ff0430;
}

.catalogo .__ .produtos ul li:first-child {
  transform: rotate(calc(5 * (360deg/-6))) translateY(200px);
}

.catalogo .__ .produtos ul li:first-child img {
  transform: rotate(calc(5 * (360deg/6)));
}

.catalogo .__ .produtos ul li img {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  object-fit: cover;
  border-radius: 50%;
  transform: rotate(calc(var(--x) * (360deg/-6)));
}

.catalogo .__ .produtos .produtoImg {
  left: 0;
  z-index: -1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  background: #ddd;
}

.catalogo .__ .produtos .produtoImg img {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  object-fit: cover;
  border-radius: 50%;
}

.catalogo .__ .rotulo {
  clear: both;
  width: 290px;
  display: block;
  bottom: -1.8rem;
  position: absolute;
  border-radius: 8px;
  padding: .8rem 1rem;
  background: #dddddd;
  transform: translateX(-16.5rem);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-template-columns: 1fr .6fr;
}

@media (max-width: 765px) {
  .catalogo .__ .rotulo {
    width: 400px;
    bottom: -8rem;
    padding: 1rem;
    transform: unset;
  }
}

.catalogo .__ .rotulo .sobre {
  float: left;
}

.catalogo .__ .rotulo .sobre p {
  padding: .1rem 0;
  font-size: 1rem;
  color: #ff043a;
  font-weight: 900;
  font-family: Linotte;
}

.catalogo .__ .rotulo .sobre p strong {
  font-size: 1.1rem;
}

.catalogo .__ .rotulo .sobre span {
  padding: 30px 0;
  font-size: .8rem;
  font-family: Linotte;
}

.catalogo .__ .rotulo .comandos .condicao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.catalogo .__ .rotulo .comandos .condicao i {
  color: #333;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
  padding: .1rem .4rem;
  font-family: Linotte;
}

.catalogo .__ .rotulo .comandos span.adicionaProduto {
  top: .3rem;
  width: 80%;
  color: #fff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  text-align: center;
  border-radius: 3px;
  padding: .1rem .2rem;
  background: #ff043a;
}
